@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: linear-gradient(to right,rgba(208, 123, 195, 0.9),rgba(59, 118, 129, 0.4)); */
  background-color: white;

  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  overflow-x: hidden;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: 'Nunito', sans-serif;
}

.tender-image {
  height: 400px !important;
}



.mynav {
  background-color: #fff;
}

.nav-logo{
  margin-right: 30px !important;
  margin-left: 30px;
  width: 50px;
  height: auto;
}

.navlink {
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  font-size: 1rem;
  margin: 5px;
  /* border: 1px solid rgb(57, 70, 212);
  border-radius: 30px; */
  /* color: rgb(89, 100, 216) !important; */
}

.navlink:hover, .navactive{
  border-radius: 30px;
  background-color: rgb(87, 87, 183);
  color: white !important;
  font-weight: lighter;
}

.left-pannel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

.left-pannel h1 {
  margin-bottom: 20px;
  color: darkblue;
  font-weight: bold;
  text-decoration: underline;
}

.left-pannel h3 {
  margin-bottom: 20px;
  color: rgb(57, 70, 212);
  font-weight: bold;
}

.left-pannel p {
  text-align: center;
  color: darkgreen;
}

.ex-cards-container {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  /* gap: 20px; */
  
  background-color: rgb(190, 221, 190);
  padding: 20px;
  border-radius: 30px;
  
}

.pr-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  background-color: rgb(190, 221, 190);
  padding: 20px;
  border-radius: 30px;
}
.re-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 10px;
  background-color: rgb(190, 221, 190);
  padding: 20px;
  border-radius: 30px;
}

.cards{
  border-radius: 20px !important;
  background-color: transparent !important;
  border: 1px solid #fff !important;
  padding: 10px;
  margin: 5px 8px;
  transition: all 0.5s;
}

.cards:hover{
   background-color: white !important;
   box-shadow: 3px 3px 10px green;
   transform: scale(1.05);
}

.card-img{
  -webkit-clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
}

.c-img {
  height: 90vh !important;
  -webkit-clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
  clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.icons-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 0;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 10px;
  margin-bottom: 60px;
}

.gallery-img {
  height: 250px;
  width: 260px;
  box-shadow: 3px 3px 10px black;
  transition: all 0.8s;
}
.gallery-img:hover {
  transform: scale(1.1);
  animation: backwards;
}
.gallery-container {
  background-color: rgb(190, 221, 190);
  color: white;
  padding: 1px;
  margin: 10px;
}

.gallery-text {
  text-shadow: 1px 1px 2px darkgreen;
  margin-bottom: 10px;
}

.about-text {
  color: darkblue;
  text-shadow: 1px 1px 1px rgb(130, 225, 130);
}

.set-footer {
  position: relative;
  padding: 0;
  margin: 0;
}

.about-container {
  background-color: rgb(190, 221, 190);
  margin: 10px;
  box-shadow: 3px 3px 10px black;
}

.contact-container {
  background-color: rgb(190, 221, 190);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0px 15px 15px 0px;
}

.about-img {
  margin: 10px;
}

.whyus-text {
  color: darkblue;
  text-shadow: 1px 1px 1px rgb(130, 225, 130);;
}

.tender {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(190, 221, 190);
  box-shadow: 3px 3px 10px black;
}

.sub-head{
  color: darkgreen;
}

.contact-img{
  border-radius: 15px 0px 0px 15px;
}

.brand{
  color: darkblue !important;
  font-weight: bold;
  font-size: 2rem !important;
  font-family: 'Nunito', sans-serif;
}

.mybtn{
  text-decoration: none;
  border-radius: 30px;
  background-color: rgb(87, 87, 183);
  color: white !important;
  padding: 5px 8px;

}

.mybtn:hover{
  font-weight: bold;
  background:transparent;
  color: rgb(87, 87, 183) !important;
  text-decoration: none;
  border: 1px solid rgb(87, 87, 183);

}